body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.post {
  width: 1200px;
  margin: auto;
  border: 1px solid #333;
  padding: 16px;
}
